body {
}

header {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    padding: 30px;
}

button {
    background-color: rgb(153, 153, 220);
    padding: 10px;
    margin: 10px;
}

.button {
    text-align: center;
}

.rootDiv {   
}

.rowFloat {
    box-sizing: border-box;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    padding: 10px;
}