header {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto;
    overflow: hidden;
}

button {
    background-color: rgb(153, 153, 220);
    padding: 10px;
    margin: 10px;
}

.button {
    text-align: center;
}

.rootDiv {   
}

.divSquares {
    box-sizing: border-box;
    border: 1px solid black; 
}

/* .divSquares:hover {
    background-color: blue;
} */

